body {
	background-color: dimgrey;
}

nav {
	display: inline;

}
header {
	background-color: coral;
  
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}
#app1{
  fill: none;  width: 100%; height: auto; background-color: lightblue;
}