body {
	background-color: dimgrey;
  height: 100vh;
}

nav {
	display: inline;

}
/*#nav>ul>li {
   background: #cce5ff;
   color: green;
   margin: 5px;
   display: inline-block;
}*/


article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}
#app{
  fill: none;  width: 100%; height: auto; background-color: lightblue;
}