body {
	background-color: dimgrey;
  height: 100vh;
}

nav {
	display: inline;

}
/*#nav>ul>li {
   background: #cce5ff;
   color: green;
   margin: 5px;
   display: inline-block;
}*/
#nav li {
   background: azure;
   color: green;
   margin: 15px;
   padding: 5px;
   display: inline-block;
   font-size: 28;
   font-weight: 700;
   border-style: groove;
   border-radius: 5px;
}

header {
	background-color: #ff7575;
  
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}
#app{
  fill: none;  width: 100%; height: auto; background-color: lightblue;
}