doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title About
		link(rel='stylesheet' href='./assets/main.css' type="text/css")
		link(rel='stylesheet' href='./assets/layout.styl')
		script(type='module' src='./about.js')
	body
		div#app
			my-header#mynav(active='2')
			div.container
				div.cell
					h1 Demonstration flex usage
				div.cell
					my-entry(icos="tree" isize="80" fs="18px")
				div.cell
					h1 With flex content is rulled layout.
				div.cell 4
					my-entry(icos="home" iSize="90" fs="21px")
				div.cell 5
					h1 Fresh will be constantly dissappeared
				div.cell 6
		//- div(id="ap")