doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title About
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel='stylesheet' href='./assets/main.css' type="text/css")
		link(rel='stylesheet' href='./assets/layout.styl' type="text/css")
		script(type='module' src='./about.js')
	body
		div#app
			my-header#mynav(active='2')
			div.container
				div.cell
					h1 Demonstration  in flexbox layout.
					my-entry(icos="car" iSize="90" fs="24px" color="lime")
				div.cell
					my-entry(icos="tree" isize="80" fs="18px" color="gold")
				div.cell
					h1 With flexbox layout  is  managed by content.
					my-entry(icos="sun" iSize="45" fs="11px" color="magenta")
				div.cell 
					my-entry(icos="home" iSize="85" fs="21px" color="blue")
				div.cell 
					my-entry(icos="star" iSize="55" fs="15px" color="pink")
				div.cell 
					my-entry(icos="map" iSize="35" fs="11px" color="gray")
		