doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title About
		link(rel='stylesheet' href='assets/main.css')
		script(type='module' src='./index.js')
	body
		include _header.pug
		header#mynav(active='6')
		h1 About page also use the vue comp
		h2  see it above
		div(id="ap")