doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    title Myparcel
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='./assets/main.css' type="text/css")
    script(type='module' src='./index.js')
  body
    noscript
      strong
        | We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.
    div#app
      my-header(id="mynav" active="1")
      div.grid-container
        div.grid-item.item1 
          h1 The Sins of the Fathers Visited Upon the Children.
          strong Jeremiah 15:4
        div.grid-item.item2 
          h1 Observe the blameless, and see the upright, for there is a future for the man of peace.
          strong Psalm 37
        div.grid-item.item3 
          my-entry( title="Component demo" iSIze="65" iCos="bell" fs="18px" color="maroon" )
        div.grid-item.item4 
          h1 Don't Fret Because of Evildoers.
        div.grid-item.item5
          my-entry( color="Peru" title="Component demo" iSIze="65" iCos="moon" fs="18px" )
          h1 Fresh idea inspire only suddenly.
    

