doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Market
		link(rel='stylesheet' href='assets/main.css')
	body
		header
			ul#nav
				li.item1
					a(href='index.html')  Home 
				li.item2
					a(href='about.html') About
				li.item2
					a(href='#') Market  
		h1 Bigest market place. 