doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Market
		link(rel='stylesheet' href='./assets/main.css' type="text/css")
		link(rel='stylesheet' href='./assets/layout.styl')
		script(type='module' src='./market.js')
	body
		div#app1
			my-header#mynav(active='3')
			section.flex-layout-one
				my-entry( color="green" title="Bigest market place for sport" iSIze="105" iCos="shopping-cart" fs="33px" )
				div.flex-parent
					div.card
						my-entry( color="green" title="football" iSIze="55" iCos="ball-american-football" fs="18px" )
						div.flex-parent
							section.card.card-sub
								h2 Purchasing number
								my-button(count="2")
					div.card
						my-entry( color="green" title="Volleyball" iSIze="55" iCos="ball-volleyball" fs="18px" )
						div.flex-parent
							section.card.card-sub
								h2 Purchasing number
								my-button(count="3")
					div.card
						my-entry( color="green" title="Tennis" iSIze="55" iCos="ball-tennis" fs="18px" )
						div.flex-parent
							section.card.card-sub
								h6 Purchasing number
								my-button( count="1")

		