doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Market
		link(rel='stylesheet' href='assets/main.css')
		script(type='module' src='./market.js')
	body
		div#app
			my-header#mynav(active='3')
			section.flex-layout-one
				h3 Bigest market place.
				div.flex-parent
					div.card

		