doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Market
		link(rel="stylesheet" href="./assets/main.css" type="text/css")
		link(rel="stylesheet" href="./assets/sakura.css" type="text/css")
	body
		include _script.pug
		div#app3
			my-header( id="mynav" active='6')

			h1 sakura: a minimal classless css framework / theme.
			
			button-counter(count="5")
				
			form
				input#html(type='radio' name='fav_language' value='HTML')
				label(for='html') HTML
				br
				input#css(type='radio' name='fav_language' value='CSS')
				label(for='css') CSSggg
				br
				input#javascript(type='radio' name='fav_language' value='JavaScript')
				label(for='javascript') JavaScript
				button  Fill
		