doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Sakura
		link(rel="stylesheet" href="./assets/main.css" type="text/css")
		link(rel="stylesheet" href="./assets/sakura.css" type="text/css")
		link(rel='stylesheet' href='./assets/layout.styl')
	body
		include _script.pug
		div#app3
			my-header( id="mynav" active='4')
			div.container-two
				div.on-left
					img(src="./assets/sakura.jpg" alt="sakura")
				div.on-right
					h3 Look with sakura a minimal classless css framework / theme.
			section
				button-counter(count="5")
		